<div class="container-fluid">
  <div class="col-12 header">
    <h1>Google Map Application</h1>
  </div>
  <br>
  <!--
    <button type="button" class="btn btn-primary" (click)="setWayPoint()">Set WayPoint</button>&nbsp;&nbsp;
   -->

  <button type="button" class="btn btn-primary" (click)="takeOff_drone()">Take Off drone</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="land()">Land Drone</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="setWayPoints()">Set Mission</button>&nbsp;&nbsp;
  <br>
  <br>
  <button type="button" class="btn btn-primary" (click)="getWaypoints()">Get Mission</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="clearWaypoints()">Clear Mission</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="executeWaypoints()">Start Mission</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="pauseWaypoints()">Pause Mission</button>&nbsp;&nbsp;

  <button type="button" class="btn btn-primary" (click)="createPolygon()">Create polygon</button>&nbsp;&nbsp;


  <br>
  <br>

  <input id="pacinput" #search class="controls" type="text" placeholder="Search Box" (keyup.enter)="setToLocation()">

  <br>
  <br>
  <div #gmap style="width:100%;height:400px"></div>
  <br>

</div>